@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, rgba(61,61,61,1) 0%, rgba(25,25,25,1) 100%);
}

@layer components {
  .NavBTN {
    @apply p-2 bg-yellow rounded-full font-bold hover:bg-L-black hover:text-yellow transition ease-in-out active:scale-95 hover:scale-105 duration-150
  }
  .menuLinks {
    @apply cursor-pointer rounded-full font-bold hover:text-yellow transition ease-in-out hover:scale-110
  }
  .carouselBTN {
    @apply bg-yellow w-11 h-11 rounded-full active:scale-95 transition ease-in-out hover:scale-105 duration-150
  }
  .user_input{
    @apply mb-2 bg-white py-2 px-4 rounded-3xl w-80 border-2 border-yellow
  }
  .register_or_logIn_btn {
    @apply w-80 lg:w-2/4 bg-L-black text-yellow hover:bg-L-black hover:text-yellow py-2 px-4 rounded-full font-bold border-2 border-yellow hover:border-yellow transition ease-in-out active:scale-95 hover:scale-105 duration-150
  }
}