body {
    .success {
        background-color: #4BB543;
        border-radius: 100px;
      }

    .error {
        background-color: #ff3333;
        border-radius: 100px;
    }

    .iconStyle {
        background-color: white;
        border: 2px solid #febd00;
        padding: 8px 12px;
        border-radius: 100em;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

        &:hover {
            transition: 0.2s;
            background-color: #febd00;
        }
    }

    .active {
      color: #febd00;
    }

    .inactive {
      color: #111119;
    }

    .removeScroll {
      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media only screen and (max-width: 1024px) {
      body {
        background-color: white!important;
      }

      .divContent {
        display: none;
      }

      .main-header {
        display: none;
      }
    }
}

@media only screen and (max-width: 1024px) {
  body {
    background: white!important;
  }
}